@import '@/assets/styles/_global.scss';

.ContactForm {
  &-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 3.2rem;
    text-transform: uppercase;
    padding: .8rem;
    background: $moon-raker;
  }

  &-form {
    &-submit {
      .Button {
        max-width: 38.4rem;
        width: 100%;
      }
    }
  }
}